<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>
  <body>
    Olá <%= name %>, bem vindo ao mundo!
    <%= helper.CNPJHelper.format(cnpj) %>
  </body>
</html>
